@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  height: 90vh !important;
}

.active {
  font-weight: 800 !important;
  border-bottom: 2px solid rgb(151, 106, 249);
  color: white !important;
}
.nav-link {
  @apply text-[#B5B5B5] p-2 mr-16 hover:cursor-pointer hover:font-semibold hover:text-white w-24;
}
